<!--=============== the footer section is starts from here ========= -->
<section id="contact">
    <div class="footer-dark">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="about-us-info">
                            <div class="footer-img">
                                <img src="/images/maisoninfra1.png" alt="" />
                            </div>
                            <img class="flag" src="/images/indiaflag.png" alt="">
                            <p class="footer-p">
                                957C Tower B1, Spaze I-Tech Park, Badshahpur Sohna Rd Hwy, Sector 49, Gurugram,
                                Haryana 122018, India<br />
                                Phone : +91 99991 56255<br />
                                Email : info@maison.com
                            </p>
                            <img class="flag" src="/images/Flag-Canada.webp" alt="">
                            <p class="footer-p">
                                9 Maple Beach Crescent,
                                Greater Toronto Area, L7A 2T8
                                Ontario, Canada
                            </p>
                            <img class="flag" src="/images/usflag.webp" alt="">
                            <p class="footer-p">
                                520 Spotswood Gravel Hill Road, Monroe Township, NJ, 08831
                                New Jersey, USA
                            </p>
                            <div class="social-icon">
                                <ul class="social">
                                    <li>
                                        <a href="https://www.facebook.com/PropriseHomes" target="_blank"><i
                                                class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/company/14372659/admin/" target="_blank"><i
                                                class="fab fa-linkedin"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://www.youtube.com/watch?v=cTZHg9viKw8" target="_blank"><i
                                                class="fab fa-youtube"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/maisoninfratechofficial/" target="_blank"><i
                                                class="fab fa-instagram"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6 col-6">
                        <div class="about-us-info buildpadding">
                            <h2 class="builders"><span>Builders</span></h2>
                            <ul class="list">
                                <li>
                                    <a href="#">M3M</a>
                                </li>
                                <li>
                                    <a href="#">DLF</a>
                                </li>
                                <li>
                                    <a href="#">Elan</a>
                                </li>
                                <li>
                                    <a href="#">SS Group</a>
                                </li>
                                <li>
                                    <a href="#">BPTP</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xl-3 col-6">
                        <div class="about-us-info">
                            <h2 class="projects"><span>Projects</span></h2>
                            <ul class="list">
                                <li><a href="#">M3M Capital</a></li>
                                <li><a href="#">M3M Atrium 57</a></li>
                                <li><a href="#">SS Linden</a></li>
                                <li><a href="#">Elan Paradise</a></li>
                                <li><a href="#">Elan Empire</a></li>
                                <li><a href="#">DLF One Midtown</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12 col-12">

                        <div class="about-us-info">
                            <!-- <h2 class="contact">Contact Us</h2>
                                <div class="foform"> -->
                            <div class="inquiry-form-blk">
                                <div class="quick-box">
                                    <div class="quick-form">
                                        <span class="inq-form-ttl foont">Hey! there :)</span>
                                        <form class="form myform" action="/processform" method="POST">

                                            <div class="form-row">
                                                <div class="row">
                                                    <div class="col-lg-12 col-sm-12 col-xs-12">
                                                        <div class="input-ani" data-validate="Name is required">
                                                            <div class="ani-border">
                                                                <label for="quickInq_vName" class="input-lbl">Name<span
                                                                        class="req">*</span></label>
                                                                <input type="text" name="name" id="name" class="formfi"
                                                                    placeholder="Enter Your Name" required>
                                                                <div id="quickInq_vNameErr" class="line err-msg"></div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-12 col-sm-12 col-xs-12">
                                                        <div class="input-ani validate-input"
                                                            data-validate="Email is required">
                                                            <div class="ani-border">
                                                                <label for="quickInq_vEmail" class="input-lbl">Email
                                                                    Address<span class="req">*</span></label>
                                                                <input type="email" id="email" name="email"
                                                                    class="formfi" placeholder="Enter Your Email"
                                                                    required>
                                                                <div id="quickInq_vEmailErr" class="line err-msg">
                                                                    <p class="error-message" id="errorMessage">Please
                                                                        enter a valid email address.</p>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-row phonenocl">
                                                <div class="row">
                                                    <div class="col-lg-12 col-sm-12 col-xs-12">
                                                        <div class="input-ani validate-input"
                                                            data-validate="Valid phone is required">
                                                            <label for="quickInq_vPhoneNumber"
                                                                class="input-lbl phonenoclass">Phone Number<span
                                                                    class="req">*</span></label>
                                                            <input type="tel" id="contact-number" name="contactnumber"
                                                                class="formfi" autocomplete="off"
                                                                placeholder="091234 56789" required>


                                                            <div id="quickInq_vPhoneNumberErr" class="line err-msg">
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>


                                            <div class="form-row">
                                                <div class="row">
                                                    <div class="col-lg-12 col-sm-12 col-xs-12">
                                                        <div class="input-ani input-ani-testarea validate-input"
                                                            data-validate="Message is required">
                                                            <div class="ani-border">
                                                                <label for="quickInq_tInformation"
                                                                    class="input-lbl">Message</label>
                                                                <textarea class="text myTextArea" id="message"
                                                                    placeholder="Message" name="message"
                                                                    style="resize: none;"></textarea>
                                                                <div id="quickInq_tInformationErr" class="line err-msg">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="quick-form-btn">
                                                    <button class="submit-btn" aria-label="Submit" value="Submit"
                                                        type="submit" id="submitQuickInq"
                                                        name="submitQuickInq"></button>
                                                </div>
                                                <div class="g-recaptcha"
                                                    data-sitekey="6LcTi-gnAAAAAOJKXDVuodBm4WNeqjY9bJwJBgat">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>

                        </div>

                        </form>


                    </div>
                </div>
            </div>



        </div>
    </div>
    </div>
    </div>
    </div>
    <div class="footer-copy">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-12">
                    <div class="footer-text">
                        <p>
                            Copyright 2023 © Maison Infra || <a style="text-decoration: none; color: #fff;"
                                href="/login">Admin
                                Login</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
</body>

<script src="/js/counter.js"></script>
<script src="/js/swiper-bundle.min.js"></script>
<script src="/js/testcard.js"></script>
<script src="/js/script.js"></script>
<script src="/js/formvalidation.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

<script src="/js/intlTelInput.js"></script>
<script>
    var input = document.querySelector("#contact-number");
    window.intlTelInput(input, {})

</script>
<script src="/js/counter.js"></script>
<script src="/js/autocomplete.js"></script>
<script src="/js/pagi.js"></script>
<script src="/js/cr.js"></script>
<script src="/js/calc.js"></script>
<script src="/js/swiper-bundle.min.js"></script>
<script src="/js/testcard.js"></script>
<script src="js/script.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

<script src="/js/intlTelInput.js"></script>
<script src="/js/formvalidation.js"></script>



</html>