
    <title><%=metatitle%></title>
    <meta name="description" content="<%=metades%>">
    <meta name="keywords" content="real estate consultancy, Gurgaon real estate, property investment, buy property in Gurgaon, Maison Infratech" />
    <link rel="canonical" href="https://maisoninfratech.in/" />
    <meta property="og:title" content="<%=metatitle%>" />
    <meta property="og:description" content="<%=metades%>" />
    <meta property="og:url" content="https://maisoninfratech.in/" />
    <meta property="og:image" content="https://maisoninfratech.in/images/maison-new-logo1.jpg" />
    <meta name="robots" content="index, follow" />
    <link rel="alternate" hreflang="en" href="https://maisoninfratech.in/" />
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "RealEstateAgent",
          "name": "Maison Infratech",
          "url": "https://maisoninfratech.in/",
          "logo": "https://maisoninfratech.in/images/maison-new-logo1.jpg",
          "sameAs": [
            "https://www.facebook.com/MaisonInfratechOfficial",
            "https://www.instagram.com/maisoninfratechofficial/",
            "https://in.linkedin.com/company/maison-infratech-pvt-ltd"
          ],
          "contactPoint": {
            "@type": "ContactPoint",
            "telephone": "+91-9999156255",
            "contactType": "Customer Service"
          },
          "address": {
            "@type": "PostalAddress",
            "streetAddress": "Unit No. 610-617, Tower A Spaze 1 Tech Park Sohna Road Sector 49",
            "addressLocality": "Gurgaon",
            "addressRegion": "HR",
            "postalCode": "122018",
            "addressCountry": "IN"
          }
        }
        </script>
        





</head>
