<body>
    <!-- header hai ye yaha se start-->

    <header class="header">
        <div class="container1">
            <div class="header-main">
                <div class="open-nav-menu">
                    <span></span>
                </div>
                <div class="menu-overlay"></div>

                <!-- ----------------ye yaha se navigation menu start ho rahi hai -------------------------- -->
                <nav class="nav-menu">
                    <div class="close-nav-menu">
                        <img src="/images/close.svg" alt="close button" />
                    </div>
                    <ul class="menu">
                        <li class="menu-item">
                            <div class="logo">
                                <a href="/"><img src="/images/maison-new-logo.webp" alt="" /></a>
                            </div>
                        </li>
                        <li class="menu-item">
                            <a href="/">Home</a>
                        </li>
                        <li class="menu-item">
                            <a href="/projects">Explore Projects</a>
                        </li>
                        <li class="menu-item">
                            <a href="/blogs">Blogs</a>
                        </li>
                        <!-- <li class="menu-item menu-item-has-children">
                            <a href="retail.html" data-toggle="sub-menu">About Us </a>
                            <ul class="sub-menu">
                                <li class="menu-item"> <a href="#">RETAIL 1</a></li>
                                <li class="menu-item"> <a href="#">RETAIL 2</a></li>
                                <li class="menu-item"> <a href="#">RETAIL 3</a></li>
                                <li class="menu-item"> <a href="#">RETAIL 4</a></li>
                            </ul> -->
                        <!-- </li> -->
                        <!-- <li class="menu-item">
                            <a href="demo.html">DEMO</a>
                        </li> -->
                        <!-- <li class="menu-item">
                            <a href="kiosks.html">KIOSKS</a>
                        </li> -->
                        <!-- <li class="menu-item">
                            <a href="index.html#partners">PARTNERS</a>
                        </li> -->

                        <!-- <li class="menu-item">
                            <a href="blogs.html">BLOGS</a>
                        </li> -->
                        <li class="menu-item">
                            <a href="/about">About Us</a>
                        </li>
                        <li class="menu-item menu-item-has-children">
                            <a href="#contact" data-toggle="sub-menu">Contact Us
                                <!-- <i class="plus"></i> -->
                            </a>
                            <!-- <ul class="sub-menu">
                                <li class="menu-item"> <a href="#">Contact 1</a></li>
                                <li class="menu-item"> <a href="#">Contact 2</a></li>
                                <li class="menu-item"> <a href="#">Contact 3</a></li>
                                <li class="menu-item"> <a href="#">Contact 4</a></li>
                            </ul> -->
                        </li>
                    </ul>
                </nav>
                <div class="logo logo2">
                    <a href="/projects" class="ebat"><i class="fas fa-plus"></i> Explore Projects</a>
                </div>
            </div>
        </div>
    </header>