<%- include("partials/header"); -%>
    <link rel="stylesheet" href="css/aboutus.css" />
    <section id="img1">
        <div class="container">
            <div class="heading">
                <h2>
                    About Us
                </h2>
            </div>
        </div>

    </section>


    <!--================= the section is starts form here =================== -->
    <section id="about">
        <div class="container">
            <section class="ag-about padding-top-80 padding-bottom-50 margin-top-50">
                <div class="container">
                    <div class="row no-gutters margin-bottom-30">
                        <div class="col-lg-9 mx-lg-auto col-xl-6">
                            <div class="video-top">
                                <div class="about-video">
                                    <div class="video-1">
                                        <img decoding="async" src="./images/emaar3min.webp" class="img-fluid" alt="">
                                    </div>
                                    <div class="video-2">
                                        <img class="img-fluid" src="./images/SW-113-3min.webp" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9 mx-lg-auto col-xl-6">
                            <div class="about-content">
                                <h3>Welcome To <span class="clr-theme">Maison Infra</span></h3>
                                <p>Welcome to Maison Infratech, your trusted partner in real estate services!
                                    At Maison Infratech, we understand the significance of finding the perfect property,
                                    whether it's a dream home or a lucrative investment opportunity. With our extensive
                                    experience and unwavering commitment to excellence, we strive to provide exceptional
                                    real estate solutions tailored to your unique needs.</p>
                                <p>Our company is built on a foundation of professionalism, integrity, and a deep
                                    understanding of the local real estate market. We take pride in our team of
                                    dedicated and knowledgeable professionals who are passionate about helping clients
                                    achieve their real estate goals.</p>
                                <p>Whether you are a first-time homebuyer, a seasoned investor, or looking to sell your
                                    property, our comprehensive range of services caters to every aspect of your real
                                    estate journey. From property search and evaluation to negotiation and closing, we
                                    are here to guide you every step of the way.

                                </p>

                            </div>
                        </div>
                    </div>
                    <!-- <div class="about-content abcont"> -->
                    <p class="ptag">What sets us apart is our personalized approach. We believe in fostering
                        long-lasting
                        relationships with our clients by actively listening to their needs, providing
                        expert advice, and delivering results that exceed expectations. Your satisfaction is
                        our utmost priority, and we go above and beyond to ensure a smooth and successful
                        transaction.</p>
                    <p class="ptag">With our in-depth knowledge of the local market trends, cutting-edge technology, and
                        extensive network of industry professionals, we have the resources and expertise to
                        deliver optimal outcomes. Our commitment to staying up-to-date with the latest
                        industry developments enables us to provide strategic insights and opportunities
                        that give you a competitive advantage.</p>
                    <p class="ptag">Explore our user-friendly website, which showcases an extensive listing of
                        properties, comprehensive market analysis, and valuable resources to assist you in
                        making informed decisions. Our dedicated team is readily available to answer your
                        inquiries, provide expert guidance, and schedule property viewings.</p>
                    <p class="ptag">Thank you for choosing Maison Infratech as your trusted real estate partner.
                        Experience the difference of working with a company that values your vision,
                        understands your aspirations, and is committed to turning your real estate dreams
                        into reality.</p>
                    <!-- </div> -->
                    <div class="container abcon">
                        <div class="cal-action">
                            <ul class="list-unstyled">
                                <li class="list-inline-item">
                                    <i class="fas fa-mobile-alt icon icon1">
                                    </i>
                                    <div class="est">
                                        <div class="ext-det">Contact No: </div>
                                        <b>+91 99991 56255</b>
                                    </div>
                                </li>
                                <li class="list-inline-item">
                                    <i class="far fa-envelope-open icon"></i>
                                    <div class="est">
                                        <div class="ext-det">
                                            Email Address:
                                        </div><b>info@maison.com</b>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="container counter">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-lg-3 margin-bottom-30 counter-inner">
                                <span>
                                    <img class="img-fluid" src="images/1-1.png" alt="" />
                                </span>
                                <div class="min-count">
                                    <b>
                                        <span class="ag-counter">1000</span>
                                        <span class="ag-counte">+</span>
                                    </b>
                                    <p>Properties</p>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3 margin-bottom-30 counter-inner">
                                <span>
                                    <img class="img-fluid" src="images/2-1.png" alt="" />
                                </span>
                                <div class="min-count">
                                    <b>
                                        <span class="ag-counter">15</span>
                                        <span class="ag-counte">+</span>
                                    </b>
                                    <p>Years of Service</p>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3 margin-bottom-30 counter-inner">
                                <span>
                                    <img class="img-fluid" src="images/3-1.png" alt="" />
                                </span>
                                <div class="min-count">
                                    <b>
                                        <span class="ag-counter">150</span>
                                        <span class="ag-counte">+</span>
                                    </b>
                                    <p>Expert Team</p>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3 margin-bottom-30 counter-inner">
                                <span>
                                    <img class="img-fluid" src="images/4-1.png" alt="" />
                                </span>
                                <div class="min-count">
                                    <b>
                                        <span class="ag-counter">10000</span>
                                        <span class="ag-counte">+</span>
                                    </b>
                                    <p>Happy Customers</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>












    <%- include("partials/footer"); -%>