<%- include("partials/header"); -%>
<div class="container">
    <h1 style="text-align: center;">Admin Dashboard</h1>
    <button type="button" class="btn btn-success" style="margin: 5px;">
        <a href="/compose" style="text-decoration: none; color: white;">Add New Project</a>
    </button>
    <button type="button" class="btn btn-primary" style="margin: 5px;">
        <a href="/edit-projects" style="text-decoration: none; color: white;">Edit Projects</a>
    </button>
    <button type="button" class="btn btn-danger" style="margin: 5px;">
        <a href="/delete-projects" style="text-decoration: none; color: white;">Delete a Project</a>
    </button>
    <button type="button" class="btn btn-primary" style="margin: 5px;">
        <a href="/mails" style="text-decoration: none; color: white;">Check Mails</a>
    </button>
    <!-- New button for uploading About images -->
    <button type="button" class="btn btn-info" style="margin: 5px;">
        <a href="/upload-about-images" style="text-decoration: none; color: white;">Upload About Images</a>
    </button>
</div>

<form class="container" action="/logout" method="post" style="margin-top: 2rem;">
    <button class="btn btn-danger" type="submit" name="logout">Logout</button>
    <p>Please close this window after log out for Security Reasons</p>
</form>
