<!DOCTYPE html>
<head lang="en">
    <meta charset="utf-8" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KS9SLJPS9N"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-KS9SLJPS9N');
    </script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
        function validateForm() {
            var recaptchaResponse = grecaptcha.getResponse();
            if (recaptchaResponse.length === 0) {
                alert("Please complete the reCAPTCHA.");
                return false;
            }
            return true;
        }
    </script>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <script src="/js/loadmore.js"></script>
    <link rel="icon" sizes="32x32" href="./images/favicon.png" type="image/png">
    <link rel="icon" sizes="48x48" href="./images/favicon.png" type="image/png">
    <link rel="icon" sizes="64x64" href="./images/favicon.png" type="image/png">

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <title>Maison Infratech - Internal Error</title>
    <meta name="description" content="An unexpected error occurred while accessing Maison Infratech's real estate services. Please try again later.">
    <meta name="keywords" content="internal error, real estate error, Maison Infratech, error page, technical issue, website error, real estate in Gurgaon">
    <link rel="canonical" href="https://maisoninfratech.in/" />
    <meta property="og:title" content="Maison Infratech - Real Estate Admin Dashboard" />
    <meta property="og:description" content="Maison Infratech's Admin Dashboard: Manage and oversee real estate operations, including residential and commercial property listings in Gurgaon." />
    <meta property="og:url" content="https://maisoninfratech.in/" />
    <meta property="og:image" content="https://maisoninfratech.in/images/maison-new-logo1.jpg" />
    <meta name="robots" content="noindex, nofollow" />
    <link rel="alternate" hreflang="en" href="https://maisoninfratech.in/" />
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "RealEstateAgent",
          "name": "Maison Infratech",
          "url": "https://maisoninfratech.in/",
          "logo": "https://maisoninfratech.in/images/maison-new-logo1.jpg",
          "sameAs": [
            "https://www.facebook.com/MaisonInfratechOfficial",
            "https://www.instagram.com/maisoninfratechofficial/",
            "https://in.linkedin.com/company/maison-infratech-pvt-ltd"
          ],
          "contactPoint": {
            "@type": "ContactPoint",
            "telephone": "+91-9999156255",
            "contactType": "Customer Service"
          },
          "address": {
            "@type": "PostalAddress",
            "streetAddress": "Unit No. 610-617, Tower A Spaze 1 Tech Park Sohna Road Sector 49",
            "addressLocality": "Gurgaon",
            "addressRegion": "HR",
            "postalCode": "122018",
            "addressCountry": "IN"
          }
        }
        </script>
    <link rel="stylesheet" href="/css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/property.css">
    <link rel="stylesheet" href="/css/index.css" />

    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/intlTelInput.css">
    <link rel="stylesheet" href="/css/intlTelInput.min.css">
    <script src="https://kit.fontawesome.com/9c5eb2a5cc.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
    <!-- <script src="js/loadMoreProjects.js"></script> -->
     </head>
     <%- include("partials/navbar"); -%>
<div>
    <h1 style="text-align: center;">Oops, Its look like a mistake</h1>
    <h2 style="text-align: center;"><%=message %></h2>
    <h3 style="text-align: center;">Please try again with correct password and Email</h3>
    <h2 style="text-align: center;"><a style="text-decoration: none;" href="/delete-projects">Go Back</a></h2>
</div>