<%- include("partials/header"); -%>
<div>
    <h1 style="text-align: center;">Oops, Its look like a mistake</h1>
    <h2 style="text-align: center;"><%=message %></h2>
    <h3 style="text-align: center;">Please try again with correct password and Email</h3>
    <h2 style="text-align: center;"><a style="text-decoration: none;" href="/delete-projects">Go Back</a></h2>
</div>