<%- include("partials/header"); -%>
<div>
    <h1 style="text-align: center;">Admin Login</h1>
    <form class="container" style="max-width: 25rem; justify-content: center; align-items: center;" action="/login" method="post">
        <div class="form-group" style="padding: 1rem;">
            <label>Username</label>
            <input class="form-control" type="text" name="username" placeholder="Username" required />
            <label>Password</label>
            <input class="form-control" type="password" name="password" placeholder="Password" required />
        </div>
        <button style="margin-left: 1rem;" class="btn btn-primary" type="submit" name="button">Login</button>
    </form>
</div>
<!-- <div>
    <h1 style="text-align: center;">Admin Sign-Up</h1>
    <form class="container" style="max-width: 25rem; justify-content: center; align-items: center;" action="/signup" method="post">
        <div class="form-group" style="padding: 1rem;">
            <label>Email</label>
            <input class="form-control" type="email" name="email" placeholder="Email" required />
            <label>Password</label>
            <input class="form-control" type="password" name="password" placeholder="Password" required />
        </div>
        <button style="margin-left: 1rem;" class="btn btn-primary" type="submit" name="button">Sign Up</button>
    </form>
</div> -->
